[uwsgi]
socket = :8000
master = true
threads = 40

virtualenv = {{ project.root }}/environ/
env = DJANGO_SETTINGS_MODULE={{ django.settings }}

chdir = {{ project.root }}/code/application/
module = {{ django.wsgi }}

logto = /var/log/uwsgi/{{ project.name }}.log